.review-form {
    h1 {
      margin: 50px 0;
    color: $green;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    margin-bottom : 50px;
  }

  h4 {
    font-size: 2rem;

    margin: 20px;
    color: $green;
    text-align: center;
  }
}

.review-card {
  background-color: rgba(25,57,36,0.4);
  backdrop-filter: blur(10px);
  border: 2px solid $green;
  color: $green;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  transition-duration: 500ms;
  p {
    text-align: center
  }
  &:hover {
    background-color: rgba(25,57,36,0.7);
    cursor: crosshair;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

